@import "tailwindcss";

button{
   cursor: pointer;
}
h2{
   display: flex;
   gap:10px;
   align-items: center;
}
*::-webkit-scrollbar{
   display: none;
}
.overview:nth-child(1){
   background-color: red;
}