@import "tailwindcss";

button{
   cursor: pointer;
}
h2{
   display: flex;
   gap:10px;
   align-items: center;
}
*::-webkit-scrollbar{
   display: none;
}
.overview:nth-child(1){
   background-color: red;
}

.progress{
  width: 100%;
  height: 10px;
  border-radius: 9999px;
  overflow: hidden;
  background-color: #e5e7eb; /* Tailwind gray-300 */
}

.progress::-webkit-progress-bar {
  background-color: #e5e7eb;
  border-radius: 9999px;
}

.progress::-webkit-progress-value {
  background: linear-gradient(to right, #3b82f6, #6366f1); /* blue to indigo */
  border-radius: 9999px;
  transition: width 0.3s ease;
}

.progress::-moz-progress-bar {
  background: linear-gradient(to right, #3b82f6, #6366f1);
  border-radius: 9999px;
}
